<h2>Traffic</h2>

<div ng-repeat="(name, vhost) in vhosts | searchByKey:query">
    <h3>{{name}}</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th></th>
                <th ng-repeat="n in [] | range:12">
                    {{n+1}}
                </th>
            </tr>
            <tr ng-repeat="(year, traffic) in vhost.traffic">
                <th>{{year}}</th>
                <td ng-repeat="month in [] | range:12" class="month">
                    <a href="#/traffic/{{name}}/{{year}}/{{month+1}}">{{traffic[month+1] | sumByValue | formatBytes:unit | number:2}}</a>
                </td>
            </tr>
        </table>
    </div>
</div>
